/* css styles */

.custom-box {
  background-color: #f5f5f5; /* Light gray background */
  border-left: 4px solid #0077b6; /* Blue sidebar */
  padding: 10px;
  margin: 10px 0;
}

/* Make slide titles (h2 by default) smaller */
.reveal h2 {
  font-size: 1.5em !important;  /* You can adjust this size */
}
